
.gp_id ul 	
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.gp_id li 
{
    margin-bottom: 4px;
    background-color: #FFF;
}

.edit {
    background-color: #CDFECD;
}

.message {
	font-style: italic;
}


#geo2r_button, #gdv_button{
    margin: 20px 5px 20px 0;
    padding: 0.2em;
}


#grantCell{
    padding-bottom: 1em;
}
#grantCell table{
    text-align: left;
}
#grantCell table td{
    vertical-align: top;
}

#grantCell #grants_buttons button{
    padding: 0.7em;
    margin-right: 0.5em;
}
#grantCell #edit_grants_btn{
    padding: 0.2em;
}

#grantCell #save_grants_btn.ui-ncbibutton-disabled:hover{
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #a6b8c6 0px, #99abb9 100%) repeat scroll 0 0;
    border-color: #959ea5;
    color: #dee7ee !important;
}

#launchDialog{
    display: block;
    margin: 1em 0;
}
.ui-dialog{
    left: 0;
    margin: auto;
    right: 0;
}
.ui-icon-background, .ui-state-active .ui-icon-background {
    background-color: #fff;
}
.ui-autocomplete{
    z-index: 1001;
}

.ghs-result {
    max-height: 30em;
    overflow-y: scroll;
}
.ghs-label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
}
.ghs-number-input {
    display: block;
}
.ghs-first-name {
    display: inline-block;
}
.ghs-last-name {
    display: inline-block;
    margin-left: 1ch;
}
.ghs-result {
    background: #f5f7f9 none repeat scroll 0 0;
    border-left: 2px solid #69c;
    margin: 1em 0;
    padding: 1em;
}
.ghs-result-label {
    display: block;
    text-align: left;
}
.ghs-result-full-name {
    font-weight: bold;
    padding-right: 1ch;
}
.ghs-result-title {
    padding-left: 1ch;
}
.ghs-result-other-title {
    display: block;
    opacity: 0.5;
}
.ghs-wrapper {
    color: #212121;
}
.ghs-wrapper h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
}
.ghs-wrapper input {
    display: inline-block;
    font-size: 1em;
    line-height: 1.6;
    margin: 5px 15px 5px 5px;
    padding: 0 5px;
}

.ghs-button-group {
    margin: 1em 0;
}
.ghs-search-button {
    margin: 0 0.5em;
}
.ghs-count {
    font-size: 0.9em;
    line-height: 2;
}
.ghs-result {
    background: #f1f1f1 none repeat scroll 0 0;
    clear: both;
    color: black;
    line-height: 2.5;
    margin: 1em 0;
    padding: 1em;
}
.ghs-result-awards .ui-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #aeb0b5;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
}
.ghs-result-awards .ui-button:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d7d9 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #aeb0b5;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000;
}
.ghs-result-label {
    display: block;
    padding: 0.5em 1em;
    text-align: left;
}
.ghs-result-full-name {
    font-weight: bold;
    padding-right: 1ch;
}
.ghs-result-title {
    line-height: 1.4;
    padding-left: 1ch;
}
.ghs-result-other-title {
    display: block;
    font-size: 0.9em;
    line-height: 1.5;
    opacity: 0.7;
    padding-left: 1em;
}
.ghs-result-awards .ui-state-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d0eef7 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #aeb0b5;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000;
}
.ghs-grant-search label, .ghs-result-awards .ui-state-active .ghs-result-title, .ghs-result-awards .ui-state-active .ghs-result-number {
    font-weight: bold;
}
fieldset.ghs-result-item {
    border: none;
}

div.loading {
    background: url("//static.pubmed.gov/portal/portal3rc.fcgi/4054489/img/26219") no-repeat scroll 0 0 #fff;
    min-height: 25px;
    min-width: 25px;
    padding-left: 20px;
}